# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Data (optional - see note below)
data/raw/
data/processed/*.csv


# ML Models
# models/*.pkl

# OS
.DS_Store
.vscode/
*.swp

# Replit
.replit
.pythonlibs/
